<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <script type="text/javascript" src="/js/jquery/jquery-1.10.2.min.js"></script>
    <link href="/css/skin1.css" rel="stylesheet" type="text/css" /></div>
    <title>我要投诉</title>
</head>

<body class="rightBody">


    <form id="form" class="box" name="form" action="/complaint/insert" method="post" >
        <div class="p_d_1">
            <div class="p_d_1_1">
                <div class="content_info">
                    <div class="c_crumbs"><div><b></b><strong>我要投诉</strong>&nbsp;-&nbsp我要投诉</div></div>
                    <div class="tableH2">投诉信息</div>
                    <table id="baseInfo" width="100%" align="center" class="list" border="0" cellpadding="0" cellspacing="0"  >

                        <tr>
                            <td class="tdBg" width="200px">投诉部门：</td>
                            <td>
                                <select name ="deptId">
                                    <option th:each="dept:${deptList}" th:value="${dept.id}" th:text="${dept.name}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="tdBg" width="200px">投诉问题：</td>
                            <td>
                                <input name="title" type="text" />
                            </td>
                        </tr>

                        <tr>
                            <td class="tdBg" width="200px">详细内容：</td>
                            <td colspan="3"><textarea id="editor" name="content"  cols="90" rows="3" text=></textarea></td>
                        </tr>
                        <tr>
                            <td class="tdBg" width="200px">是否匿名：</td>
                            <td>
                                <input name="useName" type="checkbox" value="1" />是
                                <input name="useName" type="checkbox" value="0" />否
                            </td>
                        </tr>
                    </table>

                    <div class="tc mt20">
                        <input type="submit" class="btnB2" value="保存" />
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="button"  onclick="javascript:history.go(-1)" class="btnB2" value="返回" />
                    </div>
                </div></div></div>


    </form>
</body>
</html>