<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <%@include file="/common/header.jsp"%>-->
    <div th:replace="~{/common/header::header}"></div>
    <title>信息发布管理</title>
    <script type="text/javascript" src="/js/jquery/jquery-1.10.2.min.js"></script>
    <link href="/css/skin1.css" rel="stylesheet" type="text/css" /></div>
    <script type="text/javascript">
        //全选、全反选
        function doSelectAll(){
            // jquery 1.6 前
            //$("input[name=selectedRow]").attr("checked", $("#selAll").is(":checked"));
            //prop jquery 1.6+建议使用
            $("input[name=ids]").prop("checked", $("#selAll").is(":checked"));
        }

        //模糊查询
        function doSearch() {
            $("#form1").attr("action", "/complaint");
            $("#form1").attr("method", "GET");
            $("#form1").submit();
        }


        //编辑+新增
        function updatePage(id){
           location.href="/info/getPage?id="+id
        }
        //删除
        function doDelete(id){
            if (confirm("确定要删除吗？")) {
                location.href="/info/delete?id="+id
            } else {
                return false;
            }
        }
        //批量删除
        function doDeleteAll(){
            if (confirm("确定要删除吗？")) {
                $("#form1").attr("action", "/info/deleteAll");
                $("#form1").submit();
            } else {
                return false;
            }
        }
    </script>
</head>
<body class="rightBody">
<form id="form1" name="form1" action="" method="post">
    <div class="p_d_1">
        <div class="p_d_1_1">
            <div class="content_info">
                <div class="c_crumbs"><div><b></b><strong>投诉信息管理</strong></div> </div>
                <div class="search_art">
                    <li>
                        信息标题：<input name="title" id="infoTitle" />
                    </li>
                    <li>
                        时间：<input name="startTime" readonly="readonly" id="infoTitle"  onClick="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd'})"/> ->
                        <input name="endTime" readonly="readonly" onClick="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd'})"/>
                    </li>
                    <li>
                        状态：<select name="state">
                        <option value="">————</option>
                        <option value="0">未受理</option>
                        <option value="1">已受理</option>
                    </select>
                    </li>
                    <li><input type="button" class="s_button" value="搜 索" onclick="doSearch()"/></li>
                   <!-- <li style="float:right;">
                        <input type="button" value="新增" class="s_button" onclick="updatePage(0)"/>&nbsp;
                        <input type="button" value="删除" class="s_button" onclick="doDeleteAll()"/>&nbsp;
                    </li>-->
                </div>

                <div class="t_list" style="margin:0px; border:0px none;">
                    <table width="100%" border="0">
                        <tr class="t_tit">
                            <td width="30" align="center"><input type="checkbox"  id="selAll" onclick="doSelectAll()" /></td>
                            <td align="center">投诉标题</td>
                            <td width="120" align="center">投诉人</td>
                            <td width="140" align="center">投诉部门</td>
                            <td width="80" align="center">投诉时间</td>
                            <td width="120" align="center">受理状态</td>
                            <td width="120" align="center">操作x</td>
                        </tr>
                            <tr th:each="complaint:${page.getRecords()}">
                                <td align="center"><input type="checkbox" name="ids" th:value="${complaint.id}"/></td>
                                <td align="center" th:text="${complaint.title}"></td>
                                </td>
                                <td align="center" th:text="${complaint.useName eq '0'?complaint.account.name:'匿名'}"></td>
                                <td align="center" th:text="${complaint.dept.name}"></td>
                                <td align="center" th:text="${#dates.format(complaint.createTime,'yyyy-MM-dd HH:mm')}"></td>
                                <td align="center" th:text="${complaint.state eq '0'?'未受理':'已受理'}"></td>
                                <td align="center" >
                                	<span>
                                		<span th:text="${complaint.state eq '0'?'':'已受理'}"></span><a th:if="${complaint.state eq '0'}" th:href="@{/complaint/dealInfo(id=${complaint.id})}" style="color: red;" >受理</a>
                                	</span>
                                </td>
                            </tr>
                    </table>
                </div>
            </div>
        <div class="c_pate" style="margin-top: 5px;">
            <table width="100%" class="pageDown" border="0" cellspacing="0"
                   cellpadding="0">
                <tr>
                    <td align="right">
                        总共[[${page.total}]]条记录，当前第 [[${page.current}]] 页，共 [[${page.pages}]] 页 &nbsp;&nbsp;

                        <a th:if="${page.hasPrevious()}" th:href="@{/complaint(pages=${page.current - 1},title=${title},state=${state},startTime=${startTime},endTime=${endTime})}">上一页</a>


                    <a th:if="${page.hasNext()}" th:href="@{/complaint(pages=${page.current + 1},title=${title},state=${state},startTime=${startTime},endTime=${endTime})}">下一页</a>

                    </td>
                </tr>
            </table>
        </div>

        </div>
    </div>
</form>

</body>
</html>