<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>角色管理</title>
    <script type="text/javascript" src="/js/jquery/jquery-1.10.2.min.js"></script>
    <link href="/css/skin1.css" rel="stylesheet" type="text/css" /></div>
    <script type="text/javascript">

        //全选、全反选
        function doSelectAll() {
            // jquery 1.6 前
            //$("input[name=ids]").attr("checked", $("#selAll").is(":checked"));
            //prop jquery 1.6+建议使用
            $("input[name=ids]").prop("checked", $("#selAll").is(":checked"));
        }

        //模糊查询
        function doSearch() {
            $("#form1").attr("action", "/role");
            $("#form1").attr("method", "GET");
            $("#form1").submit();
        }

        //新增
        function insertPage() {
            $("#form1").attr("action", "/role/insertPage");
            $("#form1").attr("method", "GET");
            $("#form1").submit();
        }

        //编辑
        function updatePage(id) {
            $("#form1").attr("action", "/role/updatePage?id=" + id);
            $("#form1").submit();
        }

        //删除
        function doDelete(id) {
            if (confirm("确定要删除吗？")) {
                $("#form1").attr("action", "/role/delete?id=" + id);
                $("#form1").submit();
            } else {
                return false;
            }
        }

        //批量删除
        function doDeleteAll() {
            if (confirm("确定要删除吗？")) {
                $("#form1").attr("action", "/role/deleteAll");
                $("#form1").submit();
            } else {
                return false;
            }
        }
    </script>
</head>
<body class="rightBody">
<form name="form1" id="form1" action="" method="post">
    <div class="p_d_1">
        <div class="p_d_1_1">
            <div class="content_info">
                <div class="c_crumbs">
                    <div><b></b><strong>角色管理 </strong></div>
                </div>
                <div class="search_art">
                    <li>
                        <input name="current" type="hidden" value="1"/>
                        角色名称：<input name="name" id="name"/>
                    </li>
                    <li><input type="button" class="s_button" value="搜 索" onclick="doSearch()"></li>
                    <li style="float:right;">
                        <input type="button" value="新增" class="s_button" onclick="insertPage()"/>&nbsp;
                        <input type="button" value="删除" class="s_button" onclick="doDeleteAll()"/>&nbsp;
                    </li>
                </div>

                <div class="t_list" style="margin:0px; border:0px none;">
                    <table width="100%" border="0">
                        <tr class="t_tit">
                            <td width="30" align="center">
                                <input type="checkbox" id="selAll" onclick="doSelectAll()"/>
                            </td>
                            <td width="120" align="center">角色名称</td>
                            <td align="center">权限</td>
                            <td width="80" align="center">状态</td>
                            <td width="120" align="center">操作</td>
                        </tr>
                        <tr th:each="record:${rolePage.getRecords()}">
                        <td align="center">
                            <input type="checkbox" name="ids" th:value="${ record.id }"/></td>
                        <td align="center" th:text="${ record.name }"></td>
                        <td align="center">
                          <span th:each="privilege:${record.privileges}" th:text="${privilege.name+' '}"></span>
                        </td>
                        <td align="center" th:text="${ record.state }"></td>
                        <td align="center">
                            <a href="#" th:onclick="updatePage('[[${record.id}]]')">编辑</a>
                            <a href="#" th:onclick="doDelete('[[${record.id}]]')">删除</a>
                        </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="c_pate" style="margin-top: 5px;">
                <table width="100%" class="pageDown" border="0" cellspacing="0"
                       cellpadding="0">
                    <tr>
                        <td align="right">
                            总共[[${rolePage.total}]]条记录，当前第 [[${rolePage.current}]] 页，共 [[${rolePage.pages}]] 页 &nbsp;&nbsp;

                                <a th:if="${rolePage.hasPrevious()}" th:href="@{/role(pages=${rolePage.current - 1},name = ${name})}">上一页</a>


                                <a th:if="${rolePage.hasNext()}" th:href="@{/role(pages=${rolePage.current + 1},name = ${name})}">下一页</a>

                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</form>

</body>
</html>