<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>国税协同办公平台</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="/css/home.css" rel="stylesheet" type="text/css" />
</head>

<body>
<!-- 头部{ -->
<table width="1222" border="0" align="center" cellpadding="0"
       cellspacing="0" background="/images/home/top_bg.png" class="top">
    <tr>
        <td width="32" height="106">&nbsp;</td>
        <td width="418" height="106" align="left" valign="middle">
            <img class="zxx_test_png" src="/images/home/ind01.png" width="470" height="90" alt="" />
        </td>
        <td width="211">&nbsp;</td>
        <td width="328">
            <object id="FlashID" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="450" height="86">
                <param name="movie" value="/images/home/flash.swf" />
                <param name="quality" value="high" />
                <param name="wmode" value="transparent" />
                <param name="swfversion" value="6.0.65.0" />
                <!-- 此 param 标签提示使用 Flash Player 6.0 r65 和更高版本的用户下载最新版本的 Flash Player。如果您不想让用户看到该提示，请将其删除。 -->
                <param name="expressinstall" value="Scripts/expressInstall.swf" />
                </object>
                <!--<![endif]-->
            </object>
        </td>
        <td width="331" align="right" valign="top">
            <table width="350" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="64" height="4"></td>
                    <td width="25" height="5"></td>
                    <td width="120" height="4"></td>
                    <td width="25" height="4"></td>
                    <td width="40" height="4"></td>
                    <td width="25" height="4"></td>
                    <td width="50" height="4"></td>
                </tr>
                <tr>
                    <td align="center"></td>
                    <td align="left"></td>
                    <td align="right">
                        <a><b></b><font color="red">欢迎您，[[${session.loginAccount.name}]]&nbsp;</font></a>
                    </td>
                    <td align="center"><img src="/images/home/help.png" width="12" height="17"  /></td>
                    <td align="left"><a href="javascript:void(0);">帮助</a></td>
                    <td align="center"><img src="/images/home/exit.png" width="14" height="14"   /></td>
                    <td align="left" valign="middle" ><a href="/account/logout">退出</a></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- }头部 -->
<!-- 导航{ -->
<div class="menu">
    <ul class="clearfix">
        <li class=""><a href="/account/home">工作主页</a></li>
        <li><a href="javascript:void(0);">行政管理</a></li>
        <li><a href="javascript:void(0);">后勤服务</a></li>
        <li><a href="javascript:void(0);">在线学习</a></li>       
        <li><a href="/taxService/frame">纳税服务</a> </li>
        <li><a href="javascript:void(0);">我的空间</a></li>
    </ul>
</div>
<!-- }导航 -->
<!-- 左{ -->
<div class="content">
    <div class="left">
        <!-- 个人资料{ -->
        <div class="left_grzx1">
            <div class="left_grzxbt">
                <h1>个人资料</h1>
            </div>
            <table width="98%" border="0" align="center">
                <tr>
                    <td width="76" height="100" align="center" valign="middle">
                        <div class="left-tx">
                                <img th:src="${'/'+session.loginAccount.headImg}" width="70" height="70" />
                        </div>
                    </td>
                    <td width="5%"><img src="/images/home/gs10.png" width="4" height="59" alt="" /></td>
                    <td width="60%"><table width="95%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td colspan="2" style=" font-weight:bold; color:#3a7daa;" th:text="${session.loginAccount.name}"></td>
                        </tr>
                        <tr>
                            <td colspan="2">所属部门：[[${session.loginAccount.dept.name}]]</td>
                        </tr>
                    </table>
                    </td>
                </tr>
            </table>
        </div>
        <!-- }个人资料 -->
    </div>
<!-- }左 -->

    <!-- 右{ -->
    <div class="right">
        <div class="left_grzx1">
            <div class="left_grzxbt">
                <h1>信息列表</h1>
            </div>
            <table width="98%" border="0" align="center">
            	
                <tr th:each="info:${infoList}">
                    <td height="23" th:text="${info.title}">
                    xx标题
                    </td>
                    <td width="150px" th:text="${info.category.name}">xx分类</td>
                    <td width="150px"  th:text="${info.account.name}">xx创建人</td>
                    <td width="150px"  th:text="${#dates.format(info.createTime,'yyyy-MM-dd HH:mm')}">xx创建时间</td>
                </tr>
                
            </table>
        </div>
    </div>
    <!-- }右-->
    <div class="clear"></div>

    <div class="layout_center">
        <div class="lc_grzx1">
            <div class="lc_grzxbt">
                <h1>我的投诉</h1>
                <div style="float:right;padding-top:3px;">
                	<a href="/complaint/insertPage" namespace="/sys">我要投诉</a>&nbsp;&nbsp;
                </div>
            </div>
            <table width="98%" border="0" align="center">
                
                <tr th:each="complaint:${complaintList}">
                    <td height="23" th:text="${complaint.title}">
                    xxx标题
                    </td>
                    <td height="23" th:text="${complaint.dept.name}">
                    xxx标题
                    </td>
                    <td width="180px" th:text="${complaint.state eq '0'?'未受理':'已受理'}"></td>
                    <td ><a  th:if="${complaint.state ne '0'}" th:href="@{/complaint/dealInfo(id=${complaint.id})}">查看信息</a></td>
                    <td width="180px"  th:text="${complaint.useName eq '0'?'未匿名':'匿名'}">是否匿名投诉</td>
                    <td width="180px" th:text="${#dates.format(complaint.createTime,'yyyy-MM-dd HH:mm')}">投诉时间</td>
                </tr>
                
            </table>
        </div>

        <div class="lc_grzx1">
            <div class="lc_grzxbt">
                <h1>我的咨询</h1>
            </div>
            <table width="98%" border="0" align="center">
                <tr>
                    <td></td>
                    <td width="150px"></td>
                    <td width="150px"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- 尾部{ -->
<div class="foot">版权所有©国税局 2014</div>
<!-- }尾部 -->
</body>
</html>